* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    transition: background-color 0.5s, color 0.5s;
  }
  
  .header {
    background-color: #2d4059;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #1a2632;
  }
  
  h1 {
    font-size: 24px;
  }
  
  .modeButton {
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .modeButton:hover {
    background-color: #1a2632;
  }
  
  .light {
    background-color: #f4f4f4;
  }
  
  .dark {
    background-color: #333333;
  }
  
  .questionBox {
    margin: 20px;
  }
  
  h1, h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .option {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #2d4059;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s;
    border-radius: 5px;
  }
  
  .option:hover {
    background-color: #1a2632;
    color: #ffffff;
    border-color: #ffffff;
    transform: scale(1.0005);
  }
  
  .hlbox {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .highlight, .removehighlight {
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .highlight:hover {
    background-color: #00b894;
  }
  
  .removehighlight:hover {
    background-color: #e74c3c;
  }
  
  .removehighlight {
    background-color: #333333;
  }
  
  .restart {
    padding: 10px;
    cursor: pointer;
    background-color: #00b894;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .restart:hover {
    background-color: #008d70;
  }
  